
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <button type="button" id="getter" onclick="requesting()">Images?</button>
    @Html.ActionLink("TESTING", "Index", "Home")
</div>



<script src="~/Scripts/onceAgain.js"></script>
